<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.gxwm.common.mapper.WgAnonymousDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.fk.gxwm.common.pojo.WgAnonymousDynamic" >
    <id column="dynamicId" property="dynamicid" jdbcType="BIGINT" />
    <result column="userLoginName" property="userloginname" jdbcType="VARCHAR" />
    <result column="dynamicInfo" property="dynamicinfo" jdbcType="VARCHAR" />
    <result column="dynamicImg" property="dynamicimg" jdbcType="VARCHAR" />
    <result column="releaseTime" property="releasetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dynamicId, userLoginName, dynamicInfo, dynamicImg, releaseTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wg_anonymous_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wg_anonymous_dynamic
    where dynamicId = #{dynamicid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wg_anonymous_dynamic
    where dynamicId = #{dynamicid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamicExample" >
    delete from wg_anonymous_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamic" >
    insert into wg_anonymous_dynamic (dynamicId, userLoginName, dynamicInfo, 
      dynamicImg, releaseTime)
    values (#{dynamicid,jdbcType=BIGINT}, #{userloginname,jdbcType=VARCHAR}, #{dynamicinfo,jdbcType=VARCHAR}, 
      #{dynamicimg,jdbcType=VARCHAR}, #{releasetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamic" >
    insert into wg_anonymous_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dynamicid != null" >
        dynamicId,
      </if>
      <if test="userloginname != null" >
        userLoginName,
      </if>
      <if test="dynamicinfo != null" >
        dynamicInfo,
      </if>
      <if test="dynamicimg != null" >
        dynamicImg,
      </if>
      <if test="releasetime != null" >
        releaseTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dynamicid != null" >
        #{dynamicid,jdbcType=BIGINT},
      </if>
      <if test="userloginname != null" >
        #{userloginname,jdbcType=VARCHAR},
      </if>
      <if test="dynamicinfo != null" >
        #{dynamicinfo,jdbcType=VARCHAR},
      </if>
      <if test="dynamicimg != null" >
        #{dynamicimg,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamicExample" resultType="java.lang.Integer" >
    select count(*) from wg_anonymous_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wg_anonymous_dynamic
    <set >
      <if test="record.dynamicid != null" >
        dynamicId = #{record.dynamicid,jdbcType=BIGINT},
      </if>
      <if test="record.userloginname != null" >
        userLoginName = #{record.userloginname,jdbcType=VARCHAR},
      </if>
      <if test="record.dynamicinfo != null" >
        dynamicInfo = #{record.dynamicinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.dynamicimg != null" >
        dynamicImg = #{record.dynamicimg,jdbcType=VARCHAR},
      </if>
      <if test="record.releasetime != null" >
        releaseTime = #{record.releasetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wg_anonymous_dynamic
    set dynamicId = #{record.dynamicid,jdbcType=BIGINT},
      userLoginName = #{record.userloginname,jdbcType=VARCHAR},
      dynamicInfo = #{record.dynamicinfo,jdbcType=VARCHAR},
      dynamicImg = #{record.dynamicimg,jdbcType=VARCHAR},
      releaseTime = #{record.releasetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamic" >
    update wg_anonymous_dynamic
    <set >
      <if test="userloginname != null" >
        userLoginName = #{userloginname,jdbcType=VARCHAR},
      </if>
      <if test="dynamicinfo != null" >
        dynamicInfo = #{dynamicinfo,jdbcType=VARCHAR},
      </if>
      <if test="dynamicimg != null" >
        dynamicImg = #{dynamicimg,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null" >
        releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dynamicId = #{dynamicid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.gxwm.common.pojo.WgAnonymousDynamic" >
    update wg_anonymous_dynamic
    set userLoginName = #{userloginname,jdbcType=VARCHAR},
      dynamicInfo = #{dynamicinfo,jdbcType=VARCHAR},
      dynamicImg = #{dynamicimg,jdbcType=VARCHAR},
      releaseTime = #{releasetime,jdbcType=TIMESTAMP}
    where dynamicId = #{dynamicid,jdbcType=BIGINT}
  </update>
  <!-- 分页查询 -->
  <select id="selectAnsDy" resultMap="BaseResultMap" >
      select * from wg_anonymous_dynamic limit #{start},#{everyPage};
  </select>
</mapper>